extends layout

block head
  link(rel='stylesheet', href=`/assets/admin.css?v=${ver}`)

block body
  #root.admin.bg-light
  if env.googleApiKey
    script(
      src=`https://maps.googleapis.com/maps/api/js?key=${env.googleApiKey}`
    )
  script(src=`/assets/admin.js?v=${ver}`)
