doctype html
html
  head
    if env && env.meta
      include meta
    meta(
      name='viewport'
      content='width=device-width, user-scalable=no'
    )
    script#env(type='application/json')!= JSON.stringify(env)
    block head
  body
    block body
