// primer
html, body, #root {
  min-height: 100vh;
}
a {
  cursor: pointer;
}
input, textarea {
  &, &:focus {
    outline: none !important;
  }
}
// prevent nowrap to break flexbox grid
.col {
  min-width: 0;
}
@each $name, $value in $grid-breakpoints {
  @include media-breakpoint-up($name) {
    .col-#{$name} {
      min-width: 0;
    }
  }
}

// grid
.flex-auto {
  flex: 0 0 auto !important;
  width: auto !important;
}

// overflow
.overflow-y-hidden {
  overflow-y: hidden !important;
}
.overflow-x-hidden {
  overflow-x: hidden !important;
}
.overflow-y-auto {
  overflow: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

// transition
@for $i from 1 through 10 {
  .tra-opacity-#{$i} {
    transition: opacity .3s * $i;
  }
  .tra-width-#{$i} {
    transition: width .3s * $i;
  }
}


// images and videos
.img-bg, .img-bg-cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.img-bg-contain {
  @extend .img-bg;
  background-size: contain;
  background-repeat: no-repeat;

  video {
    object-fit: contain;
  }
}

// inputs
.caret-none {
  caret-color: transparent;
}
input.no-spin[type="number"] {
  -moz-appearance: textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

// outline
@each $theme, $color in $theme-colors {
  .outline-#{$theme} {
    outline: solid 1px $color;
  }
}
 
// text
.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
