.input-group.input-group-input {
  background-color: $input-bg;
  color: $input-color;
  
  .btn-input, .input-group-text, .form-control {
    border-color: $input-border-color;
    color: inherit;
    background-color: transparent;

    &:disabled {
      background-color: $input-disabled-bg;
    }
  }
  :not(:first-child) {
    border-left: none;
  }
  :not(:last-child) {
    border-right: none;
  }
  &.is-invalid {
    .btn-input, .input-group-text {
      color: $form-feedback-invalid-color;
    }
    .btn-input, .input-group-text, .form-control {
      border-color: $form-feedback-invalid-color;
    }
  }
  &.is-valid {
    .btn-input, .input-group-text {
      color: $form-feedback-valid-color;
    }
    .btn-input, .input-group-text, .form-control, .form-select {
      border-color: $form-feedback-valid-color;
    }
  }
}
.input-group.input-group-input-rows {
  @extend .input-group-input;

  border: solid $input-border-width $input-border-color;
  border-radius: $input-border-radius;

  &.is-invalid {
    color: $form-feedback-invalid-color;
    border-color: $form-feedback-invalid-color;
  }
  &.is-valid {
    color: $form-feedback-valid-color;
    border-color: $form-feedback-valid-color;
  }

  > * {
    border: none;
    color: inherit;
  }
}