#root.admin {
  .table > :not(caption) > * > td.link {
    padding: 0;
    a {
      display: block;
      color: inherit;
      text-decoration: inherit;
      padding: $table-cell-padding-y $table-cell-padding-x;
    }
  }
  nav.main-nav {
    border-color: darken($light, 3%) !important;

    .nav-link {
      position: relative;
      color: $text-muted;

      &.active {
        color: $primary;
        &:after {
          content: '';
          position: absolute;
          height: 100%;
          top: 0;
          right: 0;
          border-right: solid .2rem $primary;
        }
      }
    }
  }
  .btn-list-ctrl {
    @extend .btn;
    @extend .shadow-sm;
    @extend .px-2;
    @extend .me-3;
  }
}