@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
.anim-fade-in {
  animation: fadeIn .6s;
}

@keyframes slideIn {
  0% {
    transform: translate(0, 25%);
  }
  100% {
    transform: translate(0, 0);
  }
}
.anim-slide-in {
  animation: slideIn .9s;
}