// primer
html, body {
  min-height: 100vh;
}
a {
  cursor: pointer;
}
input, textarea {
  &, &:focus {
    outline: none !important;
  }
}
// prevent nowrap to break flexbox grid
.col {
  min-width: 0;
}

// grid
.flex-auto {
  flex: 0 0 auto !important;
  width: auto !important;
}

// overflow
.overflow-y-hidden {
  overflow-y: hidden !important;
}
.overflow-x-hidden {
  overflow-x: hidden !important;
}
.overflow-scroll {
  overflow: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

// transition
.tra-opacity {
  transition: opacity .3s;
}

// opacity
@for $i from 0 through 10 {
  $name: opacity-#{$i};

  .#{$name},
  .hvr-#{$name}:hover,
  .onhvr:hover .hvr-#{$name} {
    opacity: 0.1 * $i;
  }
}

// sizing
.fill {
  width: 100%;
  height: 100%;
}
.pos-abs-fill {
  @extend .fill;
  position: absolute;
  top: 0;
  left: 0;
}

// images
.img-bg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: auto;
  min-width: 100%;
  min-height: 100%;
  background-position: center;

  &.bg-pos-lc {
    background-position: left center;
  }
  &.bg-pos-rc {
    background-position: right center;
  }
}
.img-bg-cover {
  @extend .img-bg;
  background-size: cover;
}
.img-bg-contain {
  @extend .img-bg;
  background-size: contain;
  background-repeat: no-repeat;
}

// inputs
.cursor-pointer {
  cursor: pointer;
}
.cursor-default {
  cursor: default !important;
}
.caret-none {
  caret-color: transparent;
}

// outline
@each $theme, $color in $theme-colors {
  .outline-#{$theme} {
    outline: solid 1px $color;
  }
}
