.note-editor {
  background-color: white;

  .dropdown-toggle:after {
    display: none;
  }
  .note-toolbar {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    border-bottom: solid 1px #ddd;
  }
  .note-btn {
    border: none !important;
  }
  .note-editable {
    padding: $input-btn-padding-y $input-btn-padding-x;
  }
}

// content styles
.note-editor,
.ht {
  blockquote {
    border-left: solid 3px $neutral;
    padding-left: $input-btn-padding-x;
  }
  img, iframe {
    max-width: 100%;
  }
}
