td textarea {
  background-color: transparent;
  width: 100%;
  padding: 0;
  border: none;
  resize: none;
}
.grid-border {
  @extend .border;
  >.row {
    &:not(:first-child) { @extend .border-top; }
    >.col:not(:first-child) { @extend .border-start; }
  }
}