html {
  font-size: .95rem;
  letter-spacing: .04rem;
}

.btn-input {
  border-color: $input-border-color;
  color: $input-color;
}
.input-group.shared-border {
  :not(:first-child) {
    border-left: none;
  }
  :not(:last-child) {
    border-right: none;
  }
  &.is-invalid .btn-input {
    border-color: $form-feedback-invalid-color;
    color: $form-feedback-invalid-color;
  }
}