html {
  font-size: .95rem;
  letter-spacing: .04rem;
}

.input-group.input-group-input {
  .btn-input, .input-group-text {
    border-color: $input-border-color;
    color: $input-color;
    background-color: $input-bg;
  }
  :not(:first-child) {
    border-left: none;
  }
  :not(:last-child) {
    border-right: none;
  }
  &.is-invalid {
    .btn-input, .input-group-text {
      color: $form-feedback-invalid-color;
    }
    .btn-input, .input-group-text, .form-control {
      border-color: $form-feedback-invalid-color;
    }
  }
  &.is-valid {
    .btn-input, .input-group-text {
      color: $form-feedback-valid-color;
    }
    .btn-input, .input-group-text, .form-control {
      border-color: $form-feedback-valid-color;
    }
  }
}
.input-group.input-group-search {
  border: solid $input-border-width $input-border-color;
  border-radius: $input-border-radius;
  background-color: $input-bg;

  .btn, .input-group-text, .form-control {
    border: none;
    color: $input-color;
    background-color: transparent;
  }

  .show-on-focus {
    display: none;
  }
  &:focus-within {
    .show-on-focus {
      display: block;
    }
  }
}