html {
  font-size: .95rem;
  letter-spacing: .04rem;
}

.input-group.shared-border {
  .btn-input, .input-group-text {
    border-color: $input-border-color;
    color: $input-color;
    background-color: $input-bg;
  }
  :not(:first-child) {
    border-left: none;
  }
  :not(:last-child) {
    border-right: none;
  }
  &.is-invalid {
    .btn-input, .input-group-text {
      border-color: $form-feedback-invalid-color;
      color: $form-feedback-invalid-color;
    }
  }
}